<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a href="https://brandon1234.netlify.com">Brandon Johnson</a>. It's a web app that allows you to not only see a random idea to help save the environment and reverse climate change that you can add to your daily routine, but it also allows you to contribute to the database of ideas as well.
  </p>
  <br />
  <p>
    Feel free to add your own idea that other people can use to help make an impact. Everybody's voice matters.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Brandon Johnson</h2>
    <br />
    <p>
      Brandon Johnson is a web developer that wants to use technology to further social and environmental causes. 
    </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />


</div>