<h2>
  <span>CLIMATE ACTION / No. <%= @quote.id %></span>
  Here's a <u>step you can take today</u> to help the environment!
</h2>
<br />
<br />
<br />

<h1><%= @quote.action %></h1>
<h2 class="float-right">- <%= @quote.activist %></h2>

<br class="clear" />
<br />
<br />
<br />
