<h1>Enter a Climate Change Action Idea </h1>
<%= simple_form_for @quote do |f| %>
  <%= f.input :action %>
  <%= f.input :activist %>
  <br />
  <%= f.submit 'Create', class: 'btn btn-danger' %>
<% end %>